<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head ('Admin Portal')" />
<body class="main">
<script th:replace="partials :: j-query" />
<nav th:replace="partials :: navbar" />
<header></header>
<main class="container">
    <div class="card bluer-back facebook-800-text">
        <div class="card-image">
            <img src="../static/img/tuuna-bar.png" th:src="@{/img/tuuna-bar.png}" alt="colorful bar" />
        </div>
        <div class="card-content">
            <h3 class="card-title">Welcome Administrator: <span th:text="${#authentication.getName()}" />!</h3>
            <a class="waves-effect waves-yellow btn-small down-for-tonight" href="/admin/flagged/songs"><i class="fas fa-music"></i>  Flagged Songs</a>
            <a class="waves-effect waves-yellow btn-small down-for-tonight" href="/admin/flagged/comments"><i class="fas fa-comments"></i>  Flagged Comments</a>
        </div>
    </div>
</main>
<footer th:replace="partials :: blue-footer" />
<script th:replace="partials :: m-script" />
<script th:replace="partials :: modals-js" />
<script>
    $('select').formSelect();
</script>
</body>
</html>