<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head ('Delete a Song')" />
<body class="main">
<nav th:replace="partials :: navbar" />
<header></header>
<main class="container">
    <div class="card cyan lighten-5">
        <div class="card-image">
            <img src="../static/img/tuuna-bar.png" th:src="@{/img/tuuna-bar.png}" alt="colorful bar" />
        </div>
        <div class="card-content">
            <h3 class="card-title">
                Are you sure you wish to ban this user?
            </h3>
            <p>Once a user is banned, they can no longer access the website through their account. Once this action is done, it will not be possible to un-ban them.</p>
            <form action="" th:action="@{/admin/{id}/ban-user(id=${id})}" method="post" th:object="${user}">
                <button type="submit" value="submit" class="waves-effect waves-yellow btn-small down-for-tonight"><ion-icon name="thumbs-up"></ion-icon>  Yes</button>
                <a class="waves-effect waves-teal btn-small bluer-back" th:href="@{/users/{id}(id=${id})}"><ion-icon name="thumbs-down"></ion-icon>  No</a>
            </form>
        </div>
    </div>
</main>
<footer th:replace="partials :: blue-footer" />
<script th:replace="partials :: m-script" />
<script th:replace="partials :: j-query" />
<script th:replace="partials :: i-icons" />
</body>
</html>