<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials :: head ('Viewing Flagged Comments')" />
<body class="main">
<script th:replace="partials :: j-query" />
<nav th:replace="partials :: navbar" />
<header></header>
<main class="container">
    <div class="card bluer-back facebook-800-text">
        <div class="card-image">
            <img src="../static/img/tuuna-bar.png" th:src="@{/img/tuuna-bar.png}" alt="colorful bar" />
        </div>
        <div class="card-content">
            <h3 class="card-title">
                Viewing flagged comments
            </h3>
            <p>Please review the following flagged comments before deciding to un-flag or delete them. Just because a comment is flagged, doesn't mean it needs to be deleted. Please review the flagged comments for any abusive/offensive language.</p>
        </div>
    </div>

    <div th:each="comment : ${flaggedComments}">
        <div class="card cyan lighten-5">
            <div class="card-image">
                <img src="../static/img/tuuna-bar-2.png" th:src="@{/img/tuuna-bar-2.png}" alt="a smaller colorful bar" />
            </div>
            <div class="card-content">
                <h5><span th:text="${comment.user.username}" /> says...</h5>
                <p th:text="${comment.body}" />
                <a class="waves-effect waves-teal btn-small bluer-back modal-trigger" th:href="'#flag-comment-modal' + ${comment.id}"><i class="fas fa-flag-checkered"></i>  Un-Flag This Comment</a>
                <a class="waves-effect waves-yellow btn-small down-for-tonight modal-trigger" th:href="'#delete-comment-modal' + ${comment.id}"><i class="fas fa-trash"></i>  Delete</a>
            </div>
        </div>


        <div th:id="'flag-comment-modal' + ${comment.id}" class="modal card cyan lighten-5">
            <div class="card-image">
                <img src="../static/img/tuuna-bar.png" th:src="@{/img/tuuna-bar.png}" alt="colorful bar" />
            </div>
            <div class="card-content">
                <h3 class="card-title">
                    Are you sure you wish to un-flag this comment?
                </h3>
                <p>Un-flagging a comment will remove this song for further review. A comment can be flagged again once it has been un-flagged.</p>
                <form action="" th:action="@{/comments/{id}/flag/admin(id=${comment.id})}" method="post" th:object="${comment}">
                    <button type="submit" value="submit" class="waves-effect waves-yellow btn-small down-for-tonight"><i class="fas fa-thumbs-up"></i>  Yes</button>
                    <a href="#" class="modal-close waves-effect waves-teal btn-small bluer-back"><i class="fas fa-thumbs-down"></i>  No</a>
                </form>
            </div>
        </div>

        <div th:id="'delete-comment-modal' + ${comment.id}" class="modal card cyan lighten-5">
            <div class="card-image">
                <img src="../static/img/tuuna-bar.png" th:src="@{/img/tuuna-bar.png}" alt="colorful bar" />
            </div>
            <div class="card-content">
                <h3 class="card-title">
                    Are you sure you wish to delete this comment?
                </h3>
                <p>Once you delete a comment, there's no going back. This is a permanent action.</p>
                <form action="" th:action="@{/comments/{id}/delete/admin(id=${comment.id})}" method="post" th:object="${comment}">
                    <button type="submit" value="submit" class="waves-effect waves-yellow btn-small down-for-tonight"><i class="fas fa-thumbs-up"></i>  Yes</button>
                    <a class="waves-effect waves-teal btn-small bluer-back modal-close" href="#"><i class="fas fa-thumbs-down"></i>  No</a>
                </form>
            </div>
        </div>
    </div>
</main>
<footer th:replace="partials :: blue-footer" />
<script th:replace="partials :: m-script" />
<script th:replace="partials :: modals-js" />
</body>
</html>