<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials :: head ('Viewing Flagged Songs')" />
<body class="main">
<script th:replace="partials :: j-query" />
<nav th:replace="partials :: navbar" />
<header></header>
<main class="container">
    <div class="card bluer-back facebook-800-text">
        <div class="card-image">
            <img src="../static/img/tuuna-bar.png" th:src="@{/img/tuuna-bar.png}" alt="colorful bar" />
        </div>
        <div class="card-content">
            <h3 class="card-title">
                Viewing flagged songs
            </h3>
            <p>Please review the following flagged songs before deciding to un-flag or delete them. Just because a song is flagged, doesn't mean it needs to be deleted. Please review the flagged songs for any abusive/offensive language in the title or description and also, listen to the song for any possible copyright infringement.</p>
        </div>
    </div>

    <div th:each="song : ${flaggedSongs}">
        <a th:href="@{'/songs/' + ${song.id}}">
            <div class="card cyan lighten-5">
                <div class="card-image">
                    <img src="../static/img/tuuna-bar-2.png" th:src="@{/img/tuuna-bar-2.png}" alt="colorful bar" />
                </div>
                <div class="card-content">
                    <h4 class="card-title" th:text="${song.title}" />
                    <p th:text="${song.description}" />
                    <a class="waves-effect waves-teal btn-small bluer-back modal-trigger" th:href="'#unflag-song-modal-admin' + ${song.id}"><i class="fas fa-flag-checkered"></i>  Un-Flag This Song</a>
                    <a class="waves-effect waves-yellow btn-small down-for-tonight modal-trigger" th:href="'#delete-song-modal-admin' + ${song.id}"><i class="fas fa-trash"></i>  Delete</a>
                </div>
            </div>
        </a>

        <div th:id="'unflag-song-modal-admin' + ${song.id}" class="modal card cyan lighten-5">
            <div class="card-image">
                <img src="../static/img/tuuna-bar.png" th:src="@{/img/tuuna-bar.png}" alt="colorful bar" />
            </div>
            <div class="card-content">
                <h3 class="card-title">
                    Are you sure you wish to un-flag this song?
                </h3>
                <p>Un-flagging a song will remove this song for further review. A song can be flagged again once it has been un-flagged.</p>
                <form action="" th:action="@{/songs/{id}/flag/admin(id=${song.id})}" method="post" th:object="${song}">
                    <button type="submit" value="submit" class="waves-effect waves-yellow btn-small down-for-tonight"><i class="fas fa-thumbs-up"></i>  Yes</button>
                    <a href="#" class="modal-close waves-effect waves-teal btn-small bluer-back"><i class="fas fa-thumbs-down"></i>  No</a>
                </form>
            </div>
        </div>

        <div th:id="'delete-song-modal-admin' + ${song.id}" class="modal card cyan lighten-5">
            <div class="card-image">
                <img src="../static/img/tuuna-bar.png" th:src="@{/img/tuuna-bar.png}" alt="colorful bar" />
            </div>
            <div class="card-content">
                <h3 class="card-title">
                    Are you sure you wish to delete this song?
                </h3>
                <p>Once you delete a song, there's no going back. This is a permanent action.</p>
                <form action="" th:action="@{/songs/{id}/delete/admin(id=${song.id})}" method="post" th:object="${song}">
                    <button type="submit" value="submit" class="waves-effect waves-yellow btn-small down-for-tonight"><i class="fas fa-thumbs-up"></i>  Yes</button>
                    <a class="modal-close waves-effect waves-teal btn-small bluer-back" href="#"><i class="fas fa-thumbs-down"></i>  No</a>
                </form>
            </div>
        </div>
    </div>

</main>
<footer th:replace="partials :: blue-footer" />
<script th:replace="partials :: m-script" />
<script th:replace="partials :: modals-js" />
</body>
</html>