<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head ('Search Songs')" />
<body class="main">
<nav th:replace="partials :: navbar" />
<div class="container">
    <div class="card cyan lighten-5">
        <div class="card-image">
            <img src="../static/img/tuuna-bar.png" th:src="@{/img/tuuna-bar.png}" alt="colorful bar" />
        </div>
        <div class="card-content">
            <h3 class="card-title bluer-text">What did you want to search?</h3>
            <form action="" th:action="@{/login}" method="post">
                <div class="row">
                    <div class="input-field col s12">
                        <h6 class="bluer-text">Search Options</h6>
                        <select id="search-params" name="search-params" class="browser-default cyan lighten-5 move-it bluer-text">
                            <option value="1">General Search</option>
                            <option value="2">Song Title</option>
                            <option value="3">User</option>
                            <option value="4">Categories</option>
                        </select>
                    </div>
                    <div class="input-field col s12">
                        <input id="query" name="query" type="text" class="validate" />
                        <label for="query">Query</label>
                    </div>
                </div>
                <button type="submit" value="Log In" class="waves-effect waves-teal btn-small bluer-back"><ion-icon name="search"></ion-icon>  Search</button>
            </form>
        </div>
    </div>
</div>
<footer th:replace="partials :: footer" />
<script th:replace="partials :: m-script" />
<script th:replace="partials :: j-query" />
<script th:replace="partials :: i-icons" />
<script>
    $('select').formSelect();
</script>
</body>
</html>