<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head ('Viewing Profile')" />
<body class="main">
<nav th:replace="partials :: navbar" />
<header></header>
<main class="container">
    <div class="card cyan lighten-5">
        <div class="card-image">
            <img src="../static/img/tuuna-bar.png" th:src="@{/img/tuuna-bar.png}" alt="colorful bar" />
        </div>
        <div class="card-content">
            <h3 class="card-title">You're looking at <span th:text="${user.username}" />'s profile</h3>
            <p>Below you can see their posts and comments!</p>
            <br />
            <div th:if="${isAdmin}" class="row">
                <a class="waves-effect waves-yellow btn-small down-for-tonight" th:href="@{/admin/{id}/ban-user(id=${id})}"><ion-icon name="close"></ion-icon>  Ban This User</a>

                <a th:if="${!userIsAdmin}" class="waves-effect waves-teal btn-small bluer-back" th:href="@{/admin/{id}/promote(id=${id})}"><ion-icon name="close"></ion-icon>  Promote This User</a>

                <a th:if="${userIsAdmin}" class="waves-effect waves-red btn-small four-41ed" th:href="@{/admin/{id}/demote(id=${id})}"><ion-icon name="close"></ion-icon>  Demote This Admin</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="half-ish">
            <div class="card cyan lighten-5">
                <div class="card-image">
                    <img src="../static/img/tuuna-bar-3.png" th:src="@{/img/tuuna-bar-3.png}" alt="smaller colorful bar" />
                </div>
                <div class="card-content">
                    <h3 class="card-title">User Songs</h3>
                    <ul>
                        <li th:each="song : ${userSongs}">
                            <a th:href="@{'/songs/' + ${song.id}}">
                                <span th:text="${song.title}" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="half-isher">
            <div class="card cyan lighten-5">
                <div class="card-image">
                    <img src="../static/img/tuuna-bar-3.png" th:src="@{/img/tuuna-bar-3.png}" alt="smaller colorful bar" />
                </div>
                <div class="card-content">
                    <h3 class="card-title">User Comments</h3>
                    <ul>
                        <li th:each="comment : ${userComments}">
                            <a th:href="@{'/songs/' + ${comment.song.id}}">
                                You said: "<span th:text="${comment.body}" />" about <span th:text="${comment.song.title}" />.
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="partials :: footer" />
<script th:replace="partials :: m-script" />
<script th:replace="partials :: j-query" />
<script th:replace="partials :: i-icons" />
</body>
</html>