#recButton {
    width: 35px;
    height: 35px;
    font-size: 0;
    background-color: red;
    border: 0;
    border-radius: 35px;
    margin: 18px;
    outline: none;
}

.notRec{
    background-color: darkred;
}

.Rec{
    background-color: red;
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes pulse{
    0%{
        box-shadow: 0px 0px 5px 0px rgba(173,0,0,.3);
    }
    65%{
        box-shadow: 0px 0px 5px 13px rgba(173,0,0,.3);
    }
    90%{
        box-shadow: 0px 0px 5px 13px rgba(173,0,0,0);
    }
}

.kback{
    width: 1100px;
    height: 400px;
    margin: 0 auto;
    border-radius: 15px
}

.keys{
    width: 1000px;
    height: 400px;
    padding-top: 130px;
    margin: 0 auto;
}
.whitekeys{
    list-style-type: none;
    width: 64px;
    height: 240px;
    background-color: #eef8fa;
    float: left;
    border: solid 1px #01635b;
    border-radius: 0 0 5px 5px;
}
li.whitekeys:hover{
    background-color: #d8e2ee;
}

.whitekeypressed{
    background-color: #d8e2ee;
}

.blackkeypressed{
    background-color: #323232;
}

.blackkeys{
    list-style-type: none;
    width: 40px;
    height: 150px;
    background-color: #231f20;
    float: left;
    border-radius: 0 0 5px 5px;
    margin: 0 -22px;
    position: relative;
}

li.blackkeys:hover{
    background-color: #323232;
}