.main {
    font-family: 'Fira Sans Condensed', sans-serif;
    background-color: #243179;
}

.big-fish {
    max-width: 165px;
}

.colorado-e3 {
    background-color: #66C0E3;
}

.bluer-text {
    color: #243179;
}

a {
    text-decoration: none;
    outline: none;
    color: #243179;
}

a.bluer-text {
    color: #243179;
}

.darker-blue-text {
    color: #192879;
}

a.bluer-text:hover {
    color: #df2935;
}

button {
    font-family: 'Fira Sans Condensed', 'sans-serif';
}

input {
    font-family: 'Fira Sans Condensed', 'sans-serif';
}

textarea {
    font-family: 'Fira Sans Condensed', 'sans-serif';
}

.bluer-back {
    background-color: #243179;
}

ion-icon {
    position: relative;
    top: 2px;
}

.facebook-800 {
    background-color: #ffb800
}

.down-for-tonight {
    background-color: #df2935;
}

.four-41ed {
    background-color: #ff441d;
}

.facebook-800-text {
    color: #ffb800;
}

.i-like-paragraphs {
    white-space: pre-line;
}

.preview-song {
    height: 130px;
    overflow: hidden;
}

.small-space {
    height: 35px;
}