.main {
    font-family: 'Fira Sans Condensed', sans-serif;
    background-color: #010F42;
    font-size: 18px;
}

nav {
    font-size: 18px;
}

.big-fish {
    max-width: 165px;
}

.colorado-e3 {
    background-color: #66C0E3;
}

.bluer-text {
    color: #243179;
}

a {
    text-decoration: none;
    outline: none;
    color: #243179;
}

a.bluer-text {
    color: #243179;
}

.darker-blue-text {
    color: #192879;
}

a.bluer-text:hover {
    color: #df2935;
}

a.four-41ed-text {
    color: #ff441d;
}

a.four-41ed-text:hover {
    color: #ffb800;
}

select {
    font-family: 'Fira Sans Condensed', 'sans-serif';
}

button {
    font-family: 'Fira Sans Condensed', 'sans-serif';
}

input {
    font-family: 'Fira Sans Condensed', 'sans-serif';
}

textarea {
    font-family: 'Fira Sans Condensed', 'sans-serif';
}

.bluer-back {
    background-color: #243179;
}

ion-icon {
    position: relative;
    top: 2px;
}

.facebook-800 {
    background-color: #ffb800
}

.down-for-tonight {
    background-color: #df2935;
}

.four-41ed {
    background-color: #ff441d;
}

.facebook-800-text {
    color: #ffb800;
}

.down-for-tonight-text {
    color: #df2935;
}

.four-41ed-text {
    color: #ff441d;
}

.eighty-eight-ninety-six {
    color: #889696;
}
.i-like-paragraphs {
    white-space: pre-line;
}

.preview-song {
    height: 130px;
    overflow: hidden;
}

.small-space {
    height: 35px;
}

.half-ish {
    float: left;
    width: 49.5%;
}

.half-isher {
    float: left;
    width: 49.5%;
    margin-left: 1%;
}

.dat-fish {
    position: relative;
    top: 1px;
}

.move-it {
    position: relative;
    top: 1.2em;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.darkness {
    background-color: #231f20;
    color: #889696;
}

a.darkness-link {
    color: #889696;
}

a.darkness-link:hover {
    color: #df2935;
}

.darkness-font {
    color: #231f20;
}

.bad-main {
    font-family: 'Fira Sans Condensed', sans-serif;
    background-color: #231f20;
}

.anger-fish {
    max-height: 64px;
}

.small-push {
    position: relative;
    bottom: 3px;
    left: 3px;
}

.no-left-pad {
    padding: .75rem .75rem 0 0;
}

.float-left {
    float: left;
}

.better-spacing {
    padding: .75rem 0 0 0;
}

.spacer {
    width: .35rem;
    display: inline-block;
}

.help-this {
    position: relative;
    bottom: 16px;
}

.make-my-monster-grow {
    font-size: 54px;
}

.smaller-text {
    font-size: 22px;
}

.card-title {
    margin-top: 0;
    font-size: 42px;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.hard-height {
    min-height: 304px;
}

.smaller-space {
    height: 5px;
}

.about-us {
    margin: auto;
    width: 85%;
}

@media only screen and (max-width: 1200px) {

    .about-us .card-title {
        font-size: 6vh;
        margin-bottom: 48px;
    }

    .about-us .bigger-on-small {
        font-size: 3vh;
        position: relative;
        bottom: 16px;
    }

    .about-us .btn-small {
        padding: 24px 34px;
    }

    .about-us .better-spacing {
        padding: 2.75rem 0 0 0;
    }
}

.clear-line {
    margin-top: 12px;
}

.code-block {
    width: 100%;
    height: auto;
    background-color: rgb(0, 21, 41);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px 0;
    margin-bottom: 20px;

}
.inner-code-block {
    padding: 0 10px 0 10px;
    margin: 0;
    line-height: 25px;
}
.code-line {
    color: rgb(73, 74, 85);
}
.declaration {
    color: rgb(203, 205, 210);
}
.equals {
    color: rgb(255, 0, 38);
}
.value {
    color: rgb(0, 185, 222);
}
.function {
    color: rgb(0, 209, 85);
}
.function-name {
    color: rgb(230, 214, 53);
}
