<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head ('Hello!')" />
<body class="main">
<nav th:replace="partials :: navbar" />
<header></header>
<main class="container">
    <div class="row">
        <div class="half-ish">
            <div class="card cyan lighten-5">
                <div class="card-image">
                    <img src="../static/img/tuuna-bar-3.png" th:src="@{/img/tuuna-bar-3.png}" alt="smaller colorful bar" />
                </div>
                <div class="card-content">
                    <h3 class="card-title">Stuart Hamblin</h3>
                    <p>My name is Stuart and I'm here to say, I like Japan in a major way.</p>
                </div>
            </div>
        </div>
        <div class="half-isher">
            <div class="card cyan lighten-5">
                <div class="card-image">
                    <img src="../static/img/tuuna-bar-3.png" th:src="@{/img/tuuna-bar-3.png}" alt="smaller colorful bar" />
                </div>
                <div class="card-content">
                    <h3 class="card-title">Steven Quintanilla</h3>
                    <p>My name is Steven and I'm here to say, I like to toss fools in a major way.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="half-ish">
            <div class="card cyan lighten-5">
                <div class="card-image">
                    <img src="../static/img/tuuna-bar-3.png" th:src="@{/img/tuuna-bar-3.png}" alt="smaller colorful bar" />
                </div>
                <div class="card-content">
                    <h3 class="card-title">Joaquin Silva</h3>
                    <p>My name is Joaquin and I'm here to say, I love my wife and children in a major way.</p>
                </div>
            </div>
        </div>
        <div class="half-isher">
            <div class="card cyan lighten-5">
                <div class="card-image">
                    <img src="../static/img/tuuna-bar-3.png" th:src="@{/img/tuuna-bar-3.png}" alt="smaller colorful bar" />
                </div>
                <div class="card-content">
                    <h3 class="card-title">David Stephens</h3>
                    <p>My name is David and I'm here to say, I could really use a nap in a major way.</p>
                </div>
            </div>
        </div>
    </div>
</main>

<footer th:replace="partials :: footer" />
<script th:replace="partials :: m-script" />
<script th:replace="partials :: j-query" />
<script th:replace="partials :: i-icons" />
</body>
</html>