<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head ('Hello!')" />
<body class="main bluer-text">
<script th:replace="partials :: j-query" />
<nav th:replace="partials :: navbar" />
<header></header>
<main class="container about-us">
    <div class="row">
        <div class="col s12 xl3">
            <div class="card cyan lighten-5 hard-height">
                <div class="card-image">
                    <img src="../static/img/stuart.jpg" th:src="@{/img/stuart.jpg}" alt="smaller colorful bar" />
                </div>
                <div class="card-content">
                    <div class="row better-spacing center-align no-bottom-margin">
                        <h3 class="card-title">Stuart Hamblin</h3>
                    </div>
                    <div class="row better-spacing center-align no-bottom-margin">
                        <a href="https://www.linkedin.com/in/stuart-hamblin/" class="waves-effect waves-teal btn-small bluer-back" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                        <a href="https://github.com/stuartahamblin" class="waves-effect waves-teal btn-small bluer-back" target="_blank"><i class="fab fa-github-alt"></i></a>
                        <a href="mailto:stuart.a.hamblin@gmail.com" class="waves-effect waves-teal btn-small bluer-back" target="_blank"><i class="fas fa-envelope"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 xl3">
            <div class="card cyan lighten-5 hard-height">
                <div class="card-image">
                    <img src="../static/img/steven.jpeg" th:src="@{/img/steven.jpeg}" alt="smaller colorful bar" />
                </div>
                <div class="card-content">
                    <div class="row better-spacing center-align no-bottom-margin">
                        <h3 class="card-title">Steven Quintanilla</h3>
                    </div>
                    <div class="row better-spacing center-align no-bottom-margin">
                        <a href="https://www.linkedin.com/in/steven-quintanilla/" class="waves-effect waves-teal btn-small bluer-back" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                        <a href="https://github.com/Stevenquintanilla" class="waves-effect waves-teal btn-small bluer-back" target="_blank"><i class="fab fa-github-alt"></i></a>
                        <a href="mailto:steven.quintanilla1907@gmail.com" class="waves-effect waves-teal btn-small bluer-back" target="_blank"><i class="fas fa-envelope"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 xl3">
            <div class="card cyan lighten-5 hard-height">
                <div class="card-image">
                    <img src="../static/img/joaquin.jpeg" th:src="@{/img/joaquin.jpeg}" alt="smaller colorful bar" />
                </div>
                <div class="card-content">
                    <div class="row better-spacing center-align no-bottom-margin">
                        <h3 class="card-title">Joaquin Silva</h3>
                    </div>
                    <div class="row better-spacing center-align no-bottom-margin">
                        <a href="https://www.linkedin.com/in/joaqu%C3%ADn-silva/" class="waves-effect waves-teal btn-small bluer-back" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                        <a href="https://github.com/joaquinSilva" class="waves-effect waves-teal btn-small bluer-back" target="_blank"><i class="fab fa-github-alt"></i></a>
                        <a href="mailto:SILVA.JOAQUIN.A.04@gmail.com" class="waves-effect waves-teal btn-small bluer-back" target="_blank"><i class="fas fa-envelope"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 xl3">
            <div class="card cyan lighten-5 hard-height">
                <div class="card-image">
                    <img src="../static/img/david.jpeg" th:src="@{/img/david.jpeg}" alt="smaller colorful bar" />
                </div>
                <div class="card-content">
                    <div class="row better-spacing center-align no-bottom-margin">
                        <h3 class="card-title">David Stephens</h3>
                    </div>
                    <div class="row better-spacing center-align no-bottom-margin">
                        <a href="https://www.linkedin.com/in/david-a-stephens/" class="waves-effect waves-teal btn-small bluer-back" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                        <a href="https://github.com/davidandstephens" class="waves-effect waves-teal btn-small bluer-back" target="_blank"><i class="fab fa-github-alt"></i></a>
                        <a href="mailto:stephens.a.david@gmail.com" class="waves-effect waves-teal btn-small bluer-back" target="_blank"><i class="fas fa-envelope"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer th:replace="partials :: blue-footer" />
<script th:replace="partials :: m-script" />
<script th:replace="partials :: modals-js" />
</body>
</html>