<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head ('Music!')" />
<link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}" />
<style>

</style>
<body class="main">
<nav th:replace="partials :: navbar" />
<script th:replace="partials :: j-query" />
<script th:replace="partials :: tone" />
<script type="application/javascript" src="/static/js/test.js"></script>


<div id="box">
    <div id="keys">
        <div class="red key"></div>
        <div class="orange key"></div>
        <div class="yellow key"></div>
        <div class="green key"></div>
        <div class="blue key"></div>
        <div class="indigo key"></div>
        <div class="violet key"></div>
    </div>
</div>
<div>
    <button id="recButton"></button>
    <button id="playButton">Play</button>
</div>
<script type="text/javascript" th:src="@{/js/test.js}"></script>
<footer th:replace="partials :: footer" />
<script th:replace="partials :: m-script" />
<script th:replace="partials :: i-icons" />
</body>
</html>