<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head ('Music!')" />
<link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}" />
<style>

</style>
<body class="main">
<nav th:replace="partials :: navbar" />
<script th:replace="partials :: j-query" />
<script th:replace="partials :: tone" />
<script type="application/javascript" src="/static/js/test.js"></script>


        <div class="keys">
            <ul>
                <li id="key1" class="whitekeys"></li>
                <li id="key2" class="blackkeys"></li>
                <li id="key3" class="whitekeys"></li>
                <li id="key4" class="blackkeys"></li>
                <li id="key5" class="whitekeys"></li>
                <li id="key6" class="whitekeys"></li>
                <li id="key7" class="blackkeys"></li>
                <li id="key8" class="whitekeys"></li>
                <li id="key9" class="blackkeys"></li>
                <li id="key10" class="whitekeys"></li>
                <li id="key11" class="blackkeys"></li>
                <li id="key12" class="whitekeys"></li>
                <li id="key13" class="whitekeys"></li>
                <li id="key14" class="blackkeys"></li>
                <li id="key15" class="whitekeys"></li>
                <li id="key16" class="blackkeys"></li>
                <li id="key17" class="whitekeys"></li>
                <li id="key18" class="whitekeys"></li>
                <li id="key19" class="blackkeys"></li>
                <li id="key20" class="whitekeys"></li>
                <li id="key21" class="blackkeys"></li>
                <li id="key22" class="whitekeys"></li>
                <li id="key23" class="blackkeys"></li>
                <li id="key24" class="whitekeys"></li>
            </ul>
        </div>


<div>
    <button id="recButton"></button>
    <button id="playButton">Play</button>
    <button id="saveButton">Save</button>
</div>
<script type="text/javascript" th:src="@{/js/test.js}"></script>
<footer th:replace="partials :: footer" />
<script th:replace="partials :: m-script" />
<script th:replace="partials :: i-icons" />
</body>
</html>