<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="head (title)">
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/materialize.min.css}" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous" />
    <link rel="stylesheet" th:href="@{/css/helpers.css}" type="text/css" />
    <link rel="icon" href="../static/img/favicon.ico" th:href="@{/img/favicon.ico}" type="image/x-icon" />
    <link rel="stylesheet" th:href="@{/css/master.css}" type="text/css" />

    <title th:text="${title}"></title>
</head>

<body class="main">
    <nav th:fragment="navbar" class="colorado-e3">
        <div class="nav-wrapper">
            <div class="container">
                <a href="/" class="dat-fish"><img src="../static/img/tuuna2.png" th:src="@{~/img/tuuna2.png}" alt="Tuuna" class="big-fish" /></a>
                <ul id="nav-mobile" class="right">
                    <li><a href="/songs" class="bluer-text"><i class="fas fa-music"></i>  <span class="small-push">All Songs</span></a></li>
                    <li><a href="#search-modal" class="bluer-text modal-trigger"><i class="fas fa-search"></i>   <span class="small-push">Search</span></a></li>
                    <li><a href="#how-modal" class="bluer-text modal-trigger"><i class="fas fa-question"></i>   <span class="small-push">How It Works</span></a></li>
                    <li sec:authorize="!isAuthenticated()"><a href="/login" class="bluer-text"><i class="fas fa-sign-in-alt"></i>  <span class="small-push">Log-In</span></a></li>
                    <li sec:authorize="!isAuthenticated()"><a href="/register" class="bluer-text"><i class="fas fa-user-plus"></i>  <span class="small-push">Register A New User</span></a></li>
                    <li sec:authorize="isAuthenticated()"><a href="/songs/create" class="bluer-text"><i class="fas fa-plus"></i>  <span class="small-push">Create A Song</span></a></li>
                    <li sec:authorize="isAuthenticated()"><a href="/users/profile" class="bluer-text"><i class="fas fa-user"></i>  <span class="small-push">View Profile</span></a></li>
                    <li sec:authorize="isAuthenticated()">
                        <form th:action="@{/logout}" th:method="post" id="form1">
                            <a onclick="document.getElementById('form1').submit();" class="bluer-text"><i class="fas fa-sign-out-alt"></i>  <span class="small-push">Log-Out</span></a>
                        </form>
                    </li>
                </ul>
            </div>

            <div id="search-modal" class="modal card cyan lighten-5">
                <div class="card-image">
                    <img src="../static/img/tuuna-bar.png" th:src="@{~/img/tuuna-bar.png}" alt="colorful bar" />
                </div>
                <div class="card-content">
                    <h3 class="card-title bluer-text">What did you want to search?</h3>
                    <form action="" th:action="@{/search}" method="post">
                        <div class="row">
                            <div class="input-field col s12">
                                <p class="bluer-text">Search Options</p>
                                <select id="search-params" name="search-params" class="cyan lighten-5 move-it bluer-text">
                                    <option class="bluer-text" value="4">General Search</option>
                                    <option class="bluer-text" value="2">Song Title</option>
                                    <option class="bluer-text" value="3">Songs by User</option>
                                </select>
                            </div>
                            <div class="small-space"></div>
                            <div class="input-field col s12">
                                <input id="query" name="query" type="text" class="validate" />
                                <label for="query">Query</label>
                            </div>
                        </div>
                        <div class="modal-footer cyan lighten-5">
                            <button type="submit" value="submit" class="waves-effect waves-teal btn-small bluer-back"><span class="help-this"><i class="fas fa-binoculars"></i>  Find</span></button>
                        </div>
                    </form>
                </div>
            </div>

            <div id="how-modal" class="modal card cyan lighten-5">
                <div class="card-image">
                    <img src="../static/img/tuuna-bar.png" th:src="@{~/img/tuuna-bar.png}" alt="colorful bar" />
                </div>
                <div class="card-content bluer-text">
                    <h3 class="card-title">
                        How does Tuuna Music Maker make music?
                    </h3>
                    <p class="inner-code-block">First, we temporarily store the key notes, note lengths, and note timing into arrays as the user plays the piano keys.</p>
                    <div class="code-block push-this">
                        <div class="inner-code-block">
                            <span class="code-line">1     |</span>
                            <span class="declaration">let noteValues</span>
                            <span class="equals">=</span>
                            <span class="declaration">[</span>
                            <span class="value">'C3'</span>
                            <span class="declaration">,</span>
                            <span class="value"> 'D3'</span>
                            <span class="declaration">,</span>
                            <span class="value"> 'C3'</span>
                            <span class="declaration">,</span>
                            <span class="value"> 'D3'</span>
                            <span class="declaration">,</span>
                            <span class="value"> 'C3'</span>
                            <span class="declaration">,</span>
                            <span class="value"> 'E3'</span>
                            <span class="declaration">, </span>
                            <span class="value">'E3'</span>
                            <span class="declaration">,</span>
                            <span class="value"> 'G3'</span>
                            <span class="declaration">,</span>
                            <span class="value"> 'C3'</span>
                            <span class="declaration">] ;</span>
                        </div>

                        <div class="inner-code-block">
                            <span class="code-line">2     |</span>
                            <span class="declaration">let noteLengths</span>
                            <span class="equals">=</span>
                            <span class="declaration">[</span>
                            <span class="value">'0:0:2'</span>
                            <span class="declaration">,</span>
                            <span class="value"> '0:0:2'</span>
                            <span class="declaration">,</span>
                            <span class="value"> '0:0:3'</span>
                            <span class="declaration">,</span>
                            <span class="value"> '0:0:1'</span>
                            <span class="declaration">,</span>
                            <span class="value"> '0:1:0'</span>
                            <span class="declaration">,</span>
                            <span class="value"> '0:1:0'</span>
                            <span class="declaration">, </span>
                            <span class="value">'0:0:3'</span>
                            <span class="declaration">,</span>
                            <span class="value"> '0:0:1'</span>
                            <span class="declaration">,</span>
                            <span class="value"> '0:0:2'</span>
                            <span class="declaration">] ;</span>
                        </div>

                        <div class="inner-code-block">
                            <span class="code-line">3     |</span>
                            <span class="declaration">let noteTiming</span>
                            <span class="equals">=</span>
                            <span class="declaration">[</span>
                            <span class="value">'1:0:0'</span>
                            <span class="declaration">,</span>
                            <span class="value"> '1:0:2'</span>
                            <span class="declaration">,</span>
                            <span class="value"> '1:1:0'</span>
                            <span class="declaration">,</span>
                            <span class="value"> '1:1:3'</span>
                            <span class="declaration">,</span>
                            <span class="value"> '1:2:0'</span>
                            <span class="declaration">,</span>
                            <span class="value"> '1:2:0'</span>
                            <span class="declaration">, </span>
                            <span class="value">'1:3:0'</span>
                            <span class="declaration">,</span>
                            <span class="value"> '1:3:1'</span>
                            <span class="declaration">,</span>
                            <span class="value"> '1:3:2'</span>
                            <span class="declaration">] ;</span>
                        </div>

                    </div>

                    <div class="code-block">
                        <div class="inner-code-block">
                            <span class="code-line">5   |</span>
                            <span class="function">function </span>
                            <span class="function-name">playNote</span>
                            <span class="declaration">(instantiatedInstrument,noteValue,noteLength,noteTime)</span>
                            <span class="spacer"></span>
                            <span class="declaration">{</span>
                        </div>
                        <div class="inner-code-block">
                            <span class="code-line">6   |</span>
                            <span class="spacer"></span>
                            <span class="spacer"></span>
                            <span class="equals">Tone</span>
                            <span class="declaration">.Transport.</span>
                            <span class="function-name">schedule</span>
                            <span class="declaration">(</span>
                            <span class="function">function</span>
                            <span class="declaration">(time)</span>
                            <span class="spacer"></span>
                            <span class="declaration">{</span>
                        </div>
                        <div class="inner-code-block">
                            <span class="code-line">7   |</span>
                            <span class="spacer"></span>
                            <span class="spacer"></span>
                            <span class="spacer"></span>
                            <span class="spacer"></span>
                            <span class="declaration">instantiatedInstrument.</span>
                            <span class="function-name">triggerAttackRelease</span>
                            <span class="declaration">(noteValue, noteLength, time)</span>
                        </div>
                        <div class="inner-code-block">
                            <span class="code-line">8   |</span>
                            <span class="spacer"></span>
                            <span class="spacer"></span>
                            <span class="declaration">}, noteTime) ;</span>
                        </div>
                        <div class="inner-code-block">
                            <span class="code-line">9     |</span>
                            <span class="declaration">}</span>
                        </div>
                    </div>
                    <div class="lined-icons container">
                        <div>
                            <h4 class="concerns">Concerns handled during song rendering</h4>
                        </div>
                        <div class="row">
                            <div class="col s6 m3 xl2">
                                <div class="row icon-row">
                                    <img class="note-icons" src="../static/img/value.png" th:src="@{~/img/value.png}" />
                                </div>
                                <div class="row">
                                    <p class="icon-text">Note Value</p>
                                </div>
                            </div>
                            <div class="col s6 m3 xl2">
                                <div class="row icon-row">
                                    <img class="note-icons" src="../static/img/rythm.png" th:src="@{~/img/rythm.png}" />
                                </div>
                                <div class="row">
                                    <p class="icon-text">Note Length</p>
                                </div>
                            </div>
                            <div class="col s6 m3 xl2">
                                <div class="row icon-row">
                                    <img class="note-icons" src="../static/img/chords.png" th:src="@{~/img/chords.png}" />
                                </div>
                                <div class="row">
                                    <p class="icon-text">Multiple Notes</p>
                                </div>
                            </div>
                            <div class="col s6 m3 xl2">
                                <div class="row icon-row">
                                    <img class="note-icons" src="../static/img/async.png" th:src="@{~/img/async.png}" />
                                </div>
                                <div class="row">
                                    <p class="icon-text">Async Notes</p>
                                </div>
                            </div>
                            <div class="col hide-on-med-and-down xl2">
                                <div class="row">
                                    <img class="note-icons" src="../static/img/arrow_right.png" th:src="@{~/img/arrow_right.png}" />
                                </div>
                            </div>
                            <div class="col offset-s3 s6 offset-m5 m4 hide-on-extra-large-only">
                                <div class="row arrow">
                                    <img class="note-icons" src="../static/img/arrow_down.png" th:src="@{~/img/arrow_down.png}" />
                                </div>
                            </div>
                            <div class="col offset-s3 s6 offset-m5 m4 offset-l4 l4 xl2">
                                <div class="row icon-row">
                                    <img class="note-icons" src="../static/img/custom-song-icon.png" th:src="@{~/img/custom-song-icon.png}" />
                                </div>
                                <div class="row">
                                    <p class="icon-text">Create Song</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="code-block">
                        <div class="inner-code-block">
                            <span class="code-line">10   |</span>
                            <span class="function">function </span>
                            <span class="function-name">playNotes</span>
                            <span class="declaration">(instrumentType,instrumentVolume,noteValues,noteLengths,</span>
                        </div>
                        <div class="inner-code-block">
                            <span class="hidden-code-line">10   </span>
                            <span class="code-line">|</span>
                            <span class="declaration">noteTimes) {</span>
                        </div>
                        <div class="inner-code-block">
                            <span class="code-line">11   |</span>
                            <span class="spacer"></span>
                            <span class="spacer"></span>
                            <span class="declaration">let instrumentInstance = </span>
                            <span class="function-name">createInstrument</span>
                            <span class="declaration">(noteInstrument, noteVolume)</span>
                            <span class="spacer"></span>
                        </div>
                        <div class="inner-code-block">
                            <span class="code-line">12   |</span>
                            <span class="spacer"></span>
                            <span class="spacer"></span>
                            <span class="function">for</span>
                            <span class="declaration">(let i</span>
                            <span class="equals">=</span>
                            <span class="loop-variable">0</span>
                            <span class="declaration">; <span class="spacer"></span></span>
                            <span class="declaration">i</span>
                            <span class="equals">&gt;</span>
                            <span class="declaration">noteValues.length; <span class="spacer"></span> i</span>
                            <span class="equals">++</span>
                            <span class="declaration">) {</span>
                        </div>
                        <div class="inner-code-block">
                            <span class="code-line">13   |</span>
                            <span class="spacer"></span>
                            <span class="spacer"></span>
                            <span class="spacer"></span>
                            <span class="spacer"></span>
                            <span class="function-name">playNote</span>
                            <span class="declaration">(instrumentInstance, noteValues[i], noteLengths[i], noteTimes[i]);</span>
                        </div>
                        <div class="inner-code-block">
                            <span class="code-line">14   |</span>
                            <span class="spacer"></span>
                            <span class="spacer"></span>
                            <span class="declaration">}</span>
                        </div>
                        <div class="inner-code-block">
                            <span class="code-line">15     |</span>
                            <span class="declaration">}</span>
                        </div>
                    </div>
                    <div class="code-block">
                        <div class="inner-code-block">
                            <span class="code-line">40   |</span>
                            <span class="function">function </span>
                            <span class="function-name">songPacking</span>
                            <span class="declaration">(valuesArray,lengthsArray,timesArray) {</span>
                        </div>
                        <div class="inner-code-block">
                            <span class="code-line">41   |</span>
                            <span class="spacer"></span>
                            <span class="spacer"></span>
                            <span class="declaration">let outputString</span>
                            <span class="equals">=</span>
                            <span class="value">' '</span>
                            <span class="declaration">;</span>
                        </div>
                        <div class="inner-code-block">
                            <span class="code-line">42   |</span>
                            <span class="spacer"></span>
                            <span class="spacer"></span>
                            <span class="declaration">outputString</span>
                            <span class="equals">+=</span>
                            <span class="declaration">valuesArray.</span>
                            <span class="function-name">join</span>
                            <span class="declaration">(</span>
                            <span class="value">' , '</span>
                            <span class="declaration">)</span>
                            <span class="equals">+</span>
                            <span class="value">' | '</span>
                            <span class="declaration">;</span>
                        </div>
                        <div class="inner-code-block">
                            <span class="code-line">43   |</span>
                            <span class="spacer"></span>
                            <span class="spacer"></span>
                            <span class="declaration">outputString</span>
                            <span class="equals">+=</span>
                            <span class="declaration">lengthsArray.</span>
                            <span class="function-name">join</span>
                            <span class="declaration">(</span>
                            <span class="value">' , '</span>
                            <span class="declaration">)</span>
                            <span class="equals">+</span>
                            <span class="value">' | '</span>
                            <span class="declaration">;</span>
                        </div>
                        <div class="inner-code-block">
                            <span class="code-line">44   |</span>
                            <span class="spacer"></span>
                            <span class="spacer"></span>
                            <span class="declaration">outputString</span>
                            <span class="equals">+=</span>
                            <span class="declaration">timesArray.</span>
                            <span class="function-name">join</span>
                            <span class="declaration">(</span>
                            <span class="value">' , '</span>
                            <span class="declaration">)</span>
                            <span class="declaration">;</span>
                        </div>
                        <div class="inner-code-block">
                            <span class="code-line">45   |</span>
                            <span class="spacer"></span>
                            <span class="spacer"></span>
                            <span class="function">return</span>
                            <span class="declaration">outputString ;</span>
                        </div>
                        <div class="inner-code-block">
                            <span class="code-line">46    |</span>
                            <span class="declaration"> }</span>
                        </div>
                    </div>
                    <div class="code-block">
                        <div class="inner-code-block">
                            <span class="code-line">48    |</span>
                            <span class="declaration">savedSong</span>
                            <span class="equals">=</span>
                            <span class="value">"C3,D3,C3,D3,C3,E3,E3,G3,C3|0:0:2,0:0:2,0:0:3,0:0:1,0:1:0,0:1:0,0:0:3,0:0:1,</span>
                        </div>
                        <div class="inner-code-block">
                            <span class="hidden-code-line">48    </span>
                            <span class="code-line">|</span>
                            <span class="value">0:0:2|1:0:0,1:0:2,1:1:0,1:1:3,1:2:0,1:2:0,1:3:0,1:3:1,1:3:2"</span>
                            <span class="declaration">;</span>
                        </div>
                    </div>
                    <div class="code-block">
                        <div class="inner-code-block">
                            <span class="code-line">50    |</span>
                            <span class="function">function</span>
                            <span class="function-name">songUnpacking</span>
                            <span class="declaration">(databaseString)  {</span>
                        </div>
                         <div class="inner-code-block">
                            <span class="code-line">51    |</span>
                            <span class="spacer"></span>
                            <span class="spacer"></span>
                            <span class="declaration">let unpackingArrays</span>
                            <span class="equals">=</span>
                            <span class="declaration">databaseString.</span>
                            <span class="function-name">split</span>
                            <span class="declaration">(</span>
                            <span class="value">' | '</span>
                            <span class="declaration">) ;</span>
                         </div>
                        <div class="inner-code-block">
                            <span class="code-line">52    |</span>
                            <span class="spacer"></span>
                            <span class="spacer"></span>
                            <span class="declaration">let unpackedArrays</span>
                            <span class="equals">=</span>
                            <span class="declaration">[ ] ;</span>
                        </div>
                        <div class="inner-code-block">
                            <span class="code-line">53    |</span>
                            <span class="spacer"></span>
                            <span class="spacer"></span>
                            <span class="function">for</span>
                            <span class="declaration">( let i </span>
                            <span class="equals">=</span>
                            <span class="loop-variable">0</span>
                            <span class="declaration">; <span class="spacer"></span> i</span>
                            <span class="equals">&lt;</span>
                            <span class="declaration">unpackingArrays.length ; <span class="spacer"></span> i</span>
                            <span class="equals">++</span>
                            <span class="declaration">)  <span class="spacer"></span> {</span>
                        </div>
                        <div class="inner-code-block">
                            <span class="code-line">54    |</span>
                            <span class="spacer"></span>
                            <span class="spacer"></span>
                            <span class="spacer"></span>
                            <span class="spacer"></span>
                            <span class="declaration">unpackedArrays.</span>
                            <span class="function-name">push</span>
                            <span class="declaration">(unpackingArrays[i].</span>
                            <span class="function-name">split</span>
                            <span class="declaration">(</span>
                            <span class="value">' , '</span>
                            <span class="declaration">) )</span>
                        </div>
                        <div class="inner-code-block">
                            <span class="code-line">55    |</span>
                            <span class="spacer"></span>
                            <span class="spacer"></span>
                            <span class="declaration">}</span>
                            <span></span>
                        </div>
                        <div class="inner-code-block">
                            <span class="code-line">56    |</span>
                            <span class="spacer"></span>
                            <span class="spacer"></span>
                            <span class="function">return</span>
                            <span class="declaration">unpackedArrays ;</span>
                        </div>
                        <div class="inner-code-block">
                            <span class="code-line">57    |</span>
                            <span class="declaration">}</span>
                        </div>
                    </div>
                    <div class="code-block">
                        <div class="inner-code-block">
                            <span class="code-line">59    |</span>
                            <span class="declaration">publicSong</span>
                            <span class="equals">=</span>
                            <span class="declaration">[ [</span>
                            <span class="value">'C3'</span>
                            <span class="declaration">,</span>
                            <span class="value">'D3'</span>
                            <span class="declaration">, </span>
                            <span class="value">'C3'</span>
                            <span class="declaration">, </span>
                            <span class="value">'D3'</span>
                            <span class="declaration">, </span>
                            <span class="value">'C3'</span>
                            <span class="declaration">, </span>
                            <span class="value">'E3'</span>
                            <span class="declaration">, </span>
                            <span class="value">'E3'</span>
                            <span class="declaration">, </span>
                            <span class="value">'G3'</span>
                            <span class="declaration">, </span>
                            <span class="value">'C3'</span>
                            <span class="declaration">] , [</span>
                            <span class="value">'0:0:2'</span>
                            <span class="declaration">, </span>
                            <span class="value">'0:0:2'</span>
                            <span class="declaration">, </span>
                            <span class="value">'0:0:3'</span>
                            <span class="declaration">, </span>
                        </div>
                        <div class="inner-code-block">
                            <span class="hidden-code-line">59    </span>
                            <span class="code-line">|</span>
                            <span class="value">'0:0:1'</span>
                            <span class="declaration">, </span>
                            <span class="value">'0:1:0'</span>
                            <span class="declaration">, </span>
                            <span class="value">'0:1:0'</span>
                            <span class="declaration">, </span>
                            <span class="value">'0:0:3'</span>
                            <span class="declaration">, </span>
                            <span class="value">'0:0:1'</span>
                            <span class="declaration">, </span>
                            <span class="value">'0:0:2'</span>
                            <span class="declaration">] , [</span>
                            <span class="value">'1:0:0'</span>
                            <span class="declaration">, </span>
                            <span class="value">'1:0:2'</span>
                            <span class="declaration">, </span>
                            <span class="value">'1:1:0'</span>
                            <span class="declaration">, </span>
                            <span class="value">'1:1:3'</span>
                            <span class="declaration">, </span>
                            <span class="value">'1:2:0'</span>
                            <span class="declaration">, </span>
                            <span class="value">'1:2:0'</span>
                            <span class="declaration">, </span>
                        </div>
                        <div class="inner-code-block">
                            <span class="hidden-code-line">59    </span>
                            <span class="code-line">|</span>
                            <span class="value">'1:3:0'</span>
                            <span class="declaration">, </span>
                            <span class="value">'1:3:1'</span>
                            <span class="declaration">, </span>
                            <span class="value">'1:3:2'</span>
                            <span class="declaration">] ];</span>
                        </div>
                    </div>
                    <a href="#" class="modal-close waves-effect waves-yellow btn-small down-for-tonight right push-this help-this"><span class="help-this"><i class="far fa-times-circle"></i>  Close</span></a>
                </div>
            </div>
        </div>
    </nav>

    <nav th:fragment="navbar-goof" class="colorado-e3">
        <div class="nav-wrapper">
            <div class="container">
                <a href="/" class="dat-fish"><img src="../static/img/tuuna3.png" th:src="@{~/img/tuuna3.png}" alt="Tuuna" class="big-fish" /></a>
                <ul id="nav-mobile" class="right">
                    <li><a href="/songs" class="bluer-text"><i class="fas fa-music"></i>  <span class="small-push">All Songs</span></a></li>
                    <li><a href="#search-modal" class="bluer-text modal-trigger"><i class="fas fa-search"></i>   <span class="small-push">Search</span></a></li>
                    <li sec:authorize="!isAuthenticated()"><a href="/login" class="bluer-text"><i class="fas fa-sign-in-alt"></i>  <span class="small-push">Log-In</span></a></li>
                    <li sec:authorize="!isAuthenticated()"><a href="/register" class="bluer-text"><i class="fas fa-user-plus"></i>  <span class="small-push">Register A New User</span></a></li>
                    <li sec:authorize="isAuthenticated()"><a href="/songs/create" class="bluer-text"><i class="fas fa-plus"></i>  <span class="small-push">Create A Song</span></a></li>
                    <li sec:authorize="isAuthenticated()"><a href="/users/profile" class="bluer-text"><i class="fas fa-user"></i>  <span class="small-push">View Profile</span></a></li>
                    <li sec:authorize="isAuthenticated()">
                        <form th:action="@{/logout}" th:method="post" id="form1">
                            <a onclick="document.getElementById('form1').submit();" class="bluer-text"><i class="fas fa-sign-out-alt"></i>  <span class="small-push">Log-Out</span></a>
                        </form>
                    </li>
                </ul>
            </div>

            <div id="search-modal" class="modal card cyan lighten-5">
                <div class="card-image">
                    <img src="../static/img/tuuna-bar-5.png" th:src="@{~/img/tuuna-bar-5.png}" alt="colorful bar" />
                </div>
                <div class="card-content">
                    <h3 class="card-title bluer-text">What did you want to search?</h3>
                    <form action="" th:action="@{/search}" method="post">
                        <div class="row">
                            <div class="input-field col s12">
                                <p class="bluer-text">Search Options</p>
                                <select id="search-params" name="search-params" class="cyan lighten-5 move-it bluer-text">
                                    <option class="bluer-text" value="4">General Search</option>
                                    <option class="bluer-text" value="2">Song Title</option>
                                    <option class="bluer-text" value="3">Songs by User</option>
                                </select>
                            </div>
                            <div class="small-space"></div>
                            <div class="input-field col s12">
                                <input id="query" name="query" type="text" class="validate" />
                                <label for="query">Query</label>
                            </div>
                        </div>
                        <div class="modal-footer cyan lighten-5">
                            <button type="submit" value="submit" class="waves-effect waves-teal btn-small bluer-back"><span class="help-this"><i class="fas fa-binoculars"></i>  Find</span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </nav>

    <footer th:fragment="blue-footer" class="page-footer colorado-e3">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="darker-blue-text">Tuuna Music Maker</h5>
                    <p class="bluer-text">Tuuna Music Maker was made as a way to share music compositions between friends. We hope you enjoy using Tuuna!</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="darker-blue-text">Links</h5>
                    <ul>
                        <li><a class="bluer-text" href="/songs"><i class="fas fa-music"></i>  All Songs</a></li>
                        <li><a class="bluer-text" href="/users"><i class="fas fa-users"></i>  All Users</a></li>
                        <li><a href="#search-modal" class="bluer-text modal-trigger"><i class="fas fa-search"></i>   Search</a></li>
                        <li><a class="bluer-text" href="/about-us"><i class="fas fa-graduation-cap"></i>  Learn More About Tuuna</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright indigo darken-4">
            <div class="container facebook-800-text">
                Codeup 2019. For educational purposes only.
            </div>
        </div>
    </footer>

    <nav th:fragment="banned-navbar" class="darkness">
        <div class="nav-wrapper">
            <div class="container">
                <a href="/"><img src="../static/img/anger_fish.png" th:src="@{~/img/anger_fish.png}" alt="anger fish" class="anger-fish" /></a>
                <ul id="nav-mobile" class="right">
                    <li sec:authorize="isAuthenticated()">
                        <form th:action="@{/logout}" th:method="post" id="form1">
                            <a class="darkness-link" onclick="document.getElementById('form1').submit();"><i class="fas fa-sign-out-alt"></i><span class="small-push">  Log-Out</span></a>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <footer th:fragment="banned-foot" class="page-footer darkness">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="eighty-eight-ninety-six">Tuuna Music Maker</h5>
                    <p class="eighty-eight-ninety-six">Tuuna Music Maker was made as a way to share music compositions between friends. But then you had to be a jerk and get banned!</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="eighty-eight-ninety-six">Links</h5>
                    <ul>
                        <li sec:authorize="isAuthenticated()">
                            <form th:action="@{/logout}" th:method="post" id="form1">
                                <a class="darkness-link" onclick="document.getElementById('form1').submit();"><i class="fas fa-sign-out-alt"></i>  Log-Out</a>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright grey">
            <div class="container darkness-font">
                Codeup 2019. For educational purposes only.
            </div>
        </div>
    </footer>

    <script th:fragment="m-script" th:src="@{/js/materialize.min.js}"></script>
    <script th:fragment="j-query" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:fragment="tone" src="https://cdnjs.cloudflare.com/ajax/libs/tone/13.4.10/Tone.js"></script>
    <script th:fragment="modals-js">
        $(document).ready(function(){
            $('.modal').modal();
            $('select').formSelect();
        });
    </script>
</body>
</html>