<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="head (title)">
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/master.css}" type="text/css" />
    <title th:text="${title}"></title>
</head>

<body class="main">
    <nav th:fragment="navbar" class="colorado-e3">
        <div class="nav-wrapper">
            <div class="container">
                <a href="/" class="brand-logo"><img src="../static/img/tuuna2.png" th:src="@{/img/tuuna2.png}" alt="Tuuna" class="big-fish" /></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/songs" class="bluer-text"><ion-icon name="musical-notes"></ion-icon>  All Songs</a></li>
                    <li sec:authorize="!isAuthenticated()"><a href="/login" class="bluer-text"><ion-icon name="log-in"></ion-icon>  Log-In</a></li>
                    <li sec:authorize="!isAuthenticated()"><a href="/register" class="bluer-text"><ion-icon name="person-add"></ion-icon>  Register A New User</a></li>
                    <li sec:authorize="isAuthenticated()"><a href="/songs/create" class="bluer-text"><ion-icon name="musical-note"></ion-icon>  Create A Song</a></li>
                    <li sec:authorize="isAuthenticated()">
                        <form th:action="@{/logout}" th:method="post" id="form1">
                            <a onclick="document.getElementById('form1').submit();" class="bluer-text"><ion-icon name="log-out"></ion-icon>  Log-Out</a>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <footer th:fragment="footer" class="page-footer colorado-e3">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="darker-blue-text">One sec...</h5>
                    <p class="bluer-text">Reminder: people like to read something meaningful...</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="darker-blue-text">Links</h5>
                    <ul>
                        <li><a class="bluer-text" href="/songs"><ion-icon name="musical-notes"></ion-icon>  All Songs</a></li>
                        <li><a class="bluer-text" href="/about-us"><ion-icon name="school"></ion-icon>  Learn More About Tuuna</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright indigo darken-4">
            <div class="container facebook-800-text">
                Codeup 2019. For educational purposes only.
            </div>
        </div>
    </footer>

    <script th:fragment="m-script" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script th:fragment="j-query" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script th:fragment="i-icons" src="https://unpkg.com/ionicons@4.5.1/dist/ionicons.js"></script>
    <script th:fragment="tone" src="https://cdnjs.cloudflare.com/ajax/libs/tone/13.4.10/Tone.js"></script>
</body>
</html>