<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="head (title)">
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous" />
    <link rel="stylesheet" th:href="@{/css/helpers.css}" type="text/css" />
    <link rel="icon" href="../static/img/favicon.ico" th:href="@{/img/favicon.ico}" type="image/x-icon" />
    <link rel="stylesheet" th:href="@{/css/master.css}" type="text/css" />

    <title th:text="${title}"></title>
</head>

<body class="main">
    <nav th:fragment="navbar" class="colorado-e3">
        <div class="nav-wrapper">
            <div class="container">
                <a href="/" class="brand-logo dat-fish"><img src="../static/img/tuuna2.png" th:src="@{/img/tuuna2.png}" alt="Tuuna" class="big-fish" /></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/songs" class="bluer-text"><i class="fas fa-music"></i>  <span class="small-push">All Songs</span></a></li>
                    <li><a href="/search" class="bluer-text"><i class="fas fa-search"></i>   <span class="small-push">Search</span></a></li>
                    <li sec:authorize="!isAuthenticated()"><a href="/login" class="bluer-text"><i class="fas fa-sign-in-alt"></i>  <span class="small-push">Log-In</span></a></li>
                    <li sec:authorize="!isAuthenticated()"><a href="/register" class="bluer-text"><i class="fas fa-user-plus"></i>  <span class="small-push">Register A New User</span></a></li>
                    <li sec:authorize="isAuthenticated()"><a href="/songs/create" class="bluer-text"><i class="fas fa-plus"></i>  <span class="small-push">Create A Song</span></a></li>
                    <li sec:authorize="isAuthenticated()"><a href="/users/profile" class="bluer-text"><i class="fas fa-user"></i>  <span class="small-push">View Profile</span></a></li>
                    <li sec:authorize="isAuthenticated()">
                        <form th:action="@{/logout}" th:method="post" id="form1">
                            <a onclick="document.getElementById('form1').submit();" class="bluer-text"><i class="fas fa-sign-out-alt"></i>  <span class="small-push">Log-Out</span></a>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <footer th:fragment="blue-footer" class="page-footer colorado-e3">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="darker-blue-text">Tuuna Music Maker</h5>
                    <p class="bluer-text">Tuuna Music Maker was made as a way to share music compositions between friends. We hope you enjoy using Tuuna!</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="darker-blue-text">Links</h5>
                    <ul>
                        <li><a class="bluer-text" href="/songs"><i class="fas fa-user"></i>  All Songs</a></li>
                        <li><a href="/search" class="bluer-text"><i class="fas fa-search"></i>   Search</a></li>
                        <li><a class="bluer-text" href="/about-us"><i class="fas fa-graduation-cap"></i>  Learn More About Tuuna</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright indigo darken-4">
            <div class="container facebook-800-text">
                Codeup 2019. For educational purposes only.
            </div>
        </div>
    </footer>

    <nav th:fragment="banned-navbar" class="darkness">
        <div class="nav-wrapper">
            <div class="container">
                <a href="/" class="brand-logo"><img src="../static/img/anger_fish.png" th:src="@{/img/anger_fish.png}" alt="anger fish" class="anger-fish" /></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li sec:authorize="isAuthenticated()">
                        <form th:action="@{/logout}" th:method="post" id="form1">
                            <a class="darkness-link" onclick="document.getElementById('form1').submit();"><i class="fas fa-sign-out-alt"></i><span class="small-push">  Log-Out</span></a>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <footer th:fragment="banned-foot" class="page-footer darkness">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="eighty-eight-ninety-six">Tuuna Music Maker</h5>
                    <p class="eighty-eight-ninety-six">Tuuna Music Maker was made as a way to share music compositions between friends. But then you had to be a jerk and get banned!</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="eighty-eight-ninety-six">Links</h5>
                    <ul>
                        <li sec:authorize="isAuthenticated()">
                            <form th:action="@{/logout}" th:method="post" id="form1">
                                <a class="darkness-link" onclick="document.getElementById('form1').submit();"><i class="fas fa-sign-out-alt"></i>  Log-Out</a>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright grey">
            <div class="container darkness-font">
                Codeup 2019. For educational purposes only.
            </div>
        </div>
    </footer>

    <script th:fragment="m-script" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script th:fragment="j-query" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script th:fragment="i-icons" src="https://unpkg.com/ionicons@4.5.1/dist/ionicons.js"></script>
    <script th:fragment="tone" src="https://cdnjs.cloudflare.com/ajax/libs/tone/13.4.10/Tone.js"></script>
</body>
</html>