<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head ('Create a Song')" />
<link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}" />
<body class="main">
<script th:replace="partials :: j-query" />
<nav th:replace="partials :: navbar" />
<script th:replace="partials :: tone" />
<header></header>
<main class="container">
    <div class="card cyan lighten-5">
        <div class="card-image">
            <img src="../static/img/tuuna-bar.png" th:src="@{/img/tuuna-bar.png}" alt="colorful bar" />
        </div>
        <div class="card-content row" style="padding: 0px;">
            <div class="keys col s12">
                <ul>
                    <li id="key1" class="whitekeys">
                        <div class="whitekeylabels">Q</div>
                    </li>
                    <li id="key2" class="blackkeys">
                        <div class="blackkeylabels">2</div>
                    </li>
                    <li id="key3" class="whitekeys">
                        <div class="whitekeylabels">W</div>
                    </li>
                    <li id="key4" class="blackkeys">
                        <div class="blackkeylabels">3</div>
                    </li>
                    <li id="key5" class="whitekeys">
                        <div class="whitekeylabels">E</div>
                    </li>
                    <li id="key6" class="whitekeys">
                        <div class="whitekeylabels">R</div>
                    </li>
                    <li id="key7" class="blackkeys">
                        <div class="blackkeylabels">5</div>
                    </li>
                    <li id="key8" class="whitekeys">
                        <div class="whitekeylabels">T</div>
                    </li>
                    <li id="key9" class="blackkeys">
                        <div class="blackkeylabels">6</div>
                    </li>
                    <li id="key10" class="whitekeys">
                        <div class="whitekeylabels">Y</div>
                    </li>
                    <li id="key11" class="blackkeys">
                        <div class="blackkeylabels">7</div>
                    </li>
                    <li id="key12" class="whitekeys">
                        <div class="whitekeylabels">U</div>
                    </li>
                    <li id="key13" class="whitekeys">
                        <div class="whitekeylabels">V</div>
                    </li>
                    <li id="key14" class="blackkeys">
                        <div class="blackkeylabels">G</div>
                    </li>
                    <li id="key15" class="whitekeys">
                        <div class="whitekeylabels">B</div>
                    </li>
                    <li id="key16" class="blackkeys">
                        <div class="blackkeylabels">H</div>
                    </li>
                    <li id="key17" class="whitekeys">
                        <div class="whitekeylabels">N</div>
                    </li>
                    <li id="key18" class="whitekeys">
                        <div class="whitekeylabels">M</div>
                    </li>
                    <li id="key19" class="blackkeys">
                        <div class="blackkeylabels">K</div>
                    </li>
                    <li id="key20" class="whitekeys">
                        <div class="whitekeylabels">,</div>
                    </li>
                    <li id="key21" class="blackkeys">
                        <div class="blackkeylabels">L</div>
                    </li>
                    <li id="key22" class="whitekeys">
                        <div class="whitekeylabels">.</div>
                    </li>
                    <li id="key23" class="blackkeys">
                        <div class="blackkeylabels">;</div>
                    </li>
                    <li id="key24" class="whitekeys">
                        <div class="whitekeylabels">/</div>
                    </li>
                </ul>
            </div>
            <div>
                <button id="recButton" class="waves-effect waves-teal btn-small bluer-back" style="margin: 1.5%"><i class="fas fa-circle"></i>  Record</button>
                <button id="playButton" class="waves-effect waves-teal btn-small bluer-back" style="margin: 1%"><i class="fas fa-play"></i>  Play</button>
                <a class="waves-effect waves-teal btn-small bluer-back modal-trigger" href="#save-modal" style="margin: 1%"><i class="fas fa-save"></i>  Save</a>
            </div>
        </div>
    </div>
        <div class="card-content">

            <h3 class="card-title bluer-text">Create a Song</h3>
            <div id="save-modal" class="modal card cyan lighten-5">
                <div class="card-image">
                    <img src="../static/img/tuuna-bar.png" th:src="@{/img/tuuna-bar.png}" alt="colorful bar" />
                </div>
                <div class="card-content">
                    <h3 class="card-title bluer-text">Save a Song</h3>
                    <form action="/songs/create" th:action="@{/songs/create}" method="post" th:object="${song}">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="title" name="title" type="text" class="validate" th:field="*{title}"/>
                                <label for="title">Title</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="description" name="description" class="materialize-textarea" th:field="*{description}" />
                                <label for="description">description</label>
                            </div>
                        </div>
                        <div class="row">
                            <input id="songHash" name="songHash" type="hidden" th:field="*{songHash}"/>
                        </div>
                        <div class="row">
                            <table>
                                <tr class="center">
                                    <td th:each="category : ${categories}">
                                        <label>
                                            <input type="checkbox" name="categories" th:value="${category.id}"/>
                                            <span th:text="${category.category}"></span>
                                        </label>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <button type="submit" value="submit" class="waves-effect waves-teal btn-small bluer-back"><i class="fas fa-smile-beam"></i>  Submit</button>
                    </form>
                </div>
            </div>
        </div>
</main>
<script type="text/javascript" th:src="@{/js/createSong.js}"></script>
<footer th:replace="partials :: blue-footer" />
<script th:replace="partials :: m-script" />
<script>
    $(document).ready(function(){
        $('.modal').modal();
    });
</script>
</body>
</html>