<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head ('Edit a Song')" />
<body class="main">
<nav th:replace="partials :: navbar" />
<header></header>
<main class="container">
    <div class="card cyan lighten-5">
        <div class="card-image">
            <img src="../static/img/tuuna-bar.png" th:src="@{/img/tuuna-bar.png}" alt="colorful bar" />
        </div>
        <div class="card-content">
            <h3 class="card-title bluer-text">Edit a Song</h3>
            <form action="" th:action="@{/songs/{id}/edit(id=${id})}" method="post" th:object="${song}">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="title" name="title" type="text" class="validate" th:field="*{title}"/>
                        <label for="title">Title</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="description" name="description" class="materialize-textarea" th:field="*{description}" />
                        <label for="description">description</label>
                    </div>
                </div>
                <button type="submit" value="submit" class="waves-effect waves-teal btn-small bluer-back"><ion-icon name="paper-plane"></ion-icon>  Submit</button>
            </form>
        </div>
    </div>
</main>
<footer th:replace="partials :: footer" />
<script th:replace="partials :: m-script" />
<script th:replace="partials :: j-query" />
<script th:replace="partials :: i-icons" />
</body>
</html>