<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head ('Viewing All Songs')" />
<body class="main">
<script th:replace="partials :: j-query" />
<nav th:replace="partials :: navbar" />
<header></header>
<main class="container">
    <div class="card bluer-back facebook-800-text">
        <div class="card-image">
            <img src="../static/img/tuuna-bar.png" th:src="@{/img/tuuna-bar.png}" alt="colorful bar" />
        </div>
        <div class="card-content">
            <h3 class="card-title">Viewing All Songs</h3>
            <p>Click any song to view all of its content.</p>
        </div>
    </div>
    <div th:each="song : ${songs}">
        <a th:href="@{'/songs/' + ${song.id}}">
            <div class="card cyan lighten-5">
                <div class="card-image">
                    <img src="../static/img/tuuna-bar-2.png" th:src="@{/img/tuuna-bar-2.png}" alt="colorful bar" />
                </div>
                <div class="card-content preview-song">
                    <h4 class="card-title" th:text="${song.title}" />
                    <p th:text="${song.description}" />
                    <a  th:href="@{/users/{id}(id=${song.user.id})}"><span class="right">Composed by user...<span class="down-for-tonight-text" th:text="${song.user.username}" /></span> </a>
                </div>
                <div class="small-space" />
            </div>
        </a>
    </div>
</main>
<footer th:replace="partials :: blue-footer" />
<script th:replace="partials :: m-script" />
<script th:replace="partials :: modals-js" />
</body>
</html>