<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head ('View a Song')" />
<body class="main">
<nav th:replace="partials :: navbar" />
<script th:replace="partials :: j-query" />
<header></header>
<main class="container">
    <div class="card cyan lighten-5">
        <div class="card-image">
            <img src="../static/img/tuuna-bar.png" th:src="@{/img/tuuna-bar.png}" alt="colorful bar" />
        </div>
        <div class="card-content">
            <h3 class="card-title bluer-text">Log In</h3>
            <h3 class="card-title" th:text="${song.title}" />
            <p th:text="${song.description}" class="i-like-paragraphs" />

            <input id="songHash" name="songHash" type="hidden" th:value="${songHash}"/>
            <button id="playbackButton" class="waves-effect waves-teal btn-small bluer-back"><ion-icon name="play"></ion-icon>  Play</button>

            <br />
            <p><span class="down-for-tonight-text"><ion-icon name="heart"></ion-icon> <span th:text="${songLikes}" /></span></p>
            <br />
            <!--<div th:if="${isOwner}">-->
                <!--<a class="waves-effect waves-red btn-small facebook-800" th:href="@{/songs/{id}/edit(id=${song.id})}"><ion-icon name="construct"></ion-icon>  Edit</a>-->
                <!--<a class="waves-effect waves-yellow btn-small down-for-tonight" th:href="@{/songs/{id}/delete(id=${song.id})}"><ion-icon name="trash"></ion-icon>  Delete</a>-->
            <!--</div>-->
            <!--<div th:if="${!isOwner}">-->
                <!--<div th:if="${!hasRated}">-->
                    <!--<form action="" th:action="@{/songs/{id}/rating(id=${song.id})}" method="post" th:object="${rating}">-->
                        <!--<button type="submit" value="submit" class="waves-effect waves-teal btn-small bluer-back"><ion-icon name="heart"></ion-icon>  Like</button>-->
                    <!--</form>-->
                <!--</div>-->
                <!--<a class="waves-effect waves-yellow btn-small down-for-tonight" th:href="@{/songs/{id}/flag(id=${song.id})}"><ion-icon name="flag"></ion-icon>  Flag This Song</a>-->
            <!--</div>-->

        </div>
    </div>

    <div class="card bluer-back facebook-800-text">
        <div class="card-image">
            <img src="../static/img/tuuna-bar-2.png" th:src="@{/img/tuuna-bar-2.png}" alt="colorful bar" />
        </div>
        <div class="card-content">
            <h3 class="card-title">Leave a Comment</h3>
            <p>Let everyone know what you think about "<span th:text="${song.title}" />!"</p>
        </div>
    </div>

    <div class="card cyan lighten-5">
        <div class="card-image">
            <img src="../static/img/tuuna-bar-2.png" th:src="@{/img/tuuna-bar-2.png}" alt="colorful bar" />
        </div>
        <!--<div class="card-content">-->
            <!--<h3 class="card-title bluer-text">Create a Comment</h3>-->
            <!--<form action="" th:action="@{/songs/{id}/view(id=${song.id})}" method="post" th:object="${comment}">-->
                <!--<div class="row">-->
                    <!--<div class="input-field col s12">-->
                        <!--<textarea id="body" name="body" class="materialize-textarea" th:field="*{body}" />-->
                        <!--<label for="body">Comment Body</label>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<button type="submit" value="submit" class="waves-effect waves-teal btn-small bluer-back"><ion-icon name="paper-plane"></ion-icon>  Submit</button>-->
            <!--</form>-->
        <!--</div>-->
    </div>

    <div class="card bluer-back facebook-800-text">
        <div class="card-image">
            <img src="../static/img/tuuna-bar-2.png" th:src="@{/img/tuuna-bar-2.png}" alt="colorful bar" />
        </div>
        <div class="card-content">
            <h3 class="card-title">Viewing All Comments</h3>
            <p>Here is what some of our users have to say about "<span th:text="${song.title}" />!"</p>
        </div>
    </div>

    <div th:each="comment : ${comments}">
        <div class="card cyan lighten-5">
            <div class="card-image">
                <img src="../static/img/tuuna-bar-2.png" th:src="@{/img/tuuna-bar-2.png}" alt="a smaller colorful bar" />
            </div>
            <div class="card-content">
                <h5 th:text="${comment.user.username} says..." />
                <p th:text="${comment.body}" />
            </div>
            <div th:if="${#authentication.getName() == comment.user.username}">
                <a class="waves-effect waves-red btn-small facebook-800" th:href="@{/comments/{id}/edit(id=${comment.id})}"><ion-icon name="construct"></ion-icon>  Edit</a>
                <a class="waves-effect waves-yellow btn-small down-for-tonight" th:href="@{/comments/{id}/delete(id=${comment.id})}"><ion-icon name="trash"></ion-icon>  Delete</a>
            </div>
            <div th:if="${#authentication.getName() != comment.user.username}">
                <a class="waves-effect waves-yellow btn-small down-for-tonight" th:href="@{/comments/{id}/flag(id=${comment.id})}"><ion-icon name="flag"></ion-icon>  Flag This Comment</a>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript" th:src="@{/js/listenSong.js}"></script>
<footer th:replace="partials :: footer" />
<script th:replace="partials :: m-script" />
<script th:replace="partials :: i-icons" />
</body>
</html>