<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head ('View a Song')" />
<body class="main">
<script th:replace="partials :: j-query" />
<nav th:replace="partials :: navbar" />
<script th:replace="partials :: tone" />
<header></header>
<main class="container">
    <div class="card cyan lighten-5">
        <div class="card-image">
            <img src="../static/img/tuuna-bar.png" th:src="@{/img/tuuna-bar.png}" alt="colorful bar" />
        </div>
        <div class="card-content">
            <h3 class="card-title bluer-text" th:text="${song.title}" />
            <p th:text="${song.description}" class="i-like-paragraphs bluer-text" />
            <p><span class="down-for-tonight-text"><i class="fas fa-heart"></i> <span th:text="${songLikes}" /> like(s).</span></p>

            <input id="songHash" name="songHash" type="hidden" th:value="${songHash}"/>
            <button id="playbackButton" class="waves-effect waves-teal btn-small bluer-back"><i class="fas fa-play"></i>  Play</button>
            <span class="spacer"></span>
            <a class="waves-effect waves-teal btn-small bluer-back modal-trigger" href="#message-modal"><i class="fas fa-paper-plane"></i>  Share</a>
            <div id="message-modal" class="modal card cyan lighten-5">
                <div class="card-image">
                    <img src="../static/img/tuuna-bar.png" th:src="@{/img/tuuna-bar.png}" alt="colorful bar" />
                </div>
                <div class="card-content">
                    <h3 class="card-title">
                        Want to send this song to a friend? Ok, no problem! Just stick their phone number down below and push Tuuna!
                    </h3>
                    <form action="" th:action="@{/songs/{id}/message(id=${id})}" method="post">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="recipient" name="recipient" type="tel" pattern="[0-9]{10}" class="validate" />
                                <label for="recipient">Phone Number (No spaces or dashes. Example: 1234567890)</label>
                                <span class="helper-text" data-error="Please enter a valid phone number" data-success="Wonderful"></span>
                            </div>
                        </div>
                        <button type="submit" value="submit" class="waves-effect waves-yellow btn-small down-for-tonight"><i class="fas fa-fish"></i>  Tuuna!</button>
                        <a class="waves-effect waves-teal btn-small bluer-back" th:href="@{/songs/{id}(id=${id})}"><i class="fas fa-thumbs-down"></i>  Cancel</a>
                    </form>
                </div>
            </div>
            <br />

            <div th:if="${isPoster}" class="row better-spacing">
                <a class="waves-effect waves-red btn-small facebook-800 modal-trigger" href="#edit-modal"><i class="fas fa-marker"></i>  Edit</a>
                <span class="spacer"></span>
                <a class="waves-effect waves-yellow btn-small down-for-tonight modal-trigger" href="#delete-modal"><i class="fas fa-trash"></i>  Delete</a>

                <div id="delete-modal" class="modal card cyan lighten-5">
                    <div class="card-image">
                        <img src="../static/img/tuuna-bar.png" th:src="@{/img/tuuna-bar.png}" alt="colorful bar" />
                    </div>
                    <div class="card-content">
                        <h3 class="card-title">
                            Are you sure you wish to delete this song?
                        </h3>
                        <p>Once you delete a song, there's no going back. This is a permanent action.</p>
                        <form action="" th:action="@{/songs/{id}/delete(id=${id})}" method="post" th:object="${song}">
                            <button type="submit" value="submit" class="waves-effect waves-yellow btn-small down-for-tonight"><i class="fas fa-thumbs-up"></i>  Yes</button>
                            <a class="waves-effect waves-teal btn-small bluer-back" th:href="@{/songs/{id}(id=${id})}"><i class="fas fa-thumbs-down"></i>  No</a>
                        </form>
                    </div>
                </div>

                <div id="edit-modal" class="modal card cyan lighten-5">
                    <div class="card-image">
                        <img src="../static/img/tuuna-bar.png" th:src="@{/img/tuuna-bar.png}" alt="colorful bar" />
                    </div>
                    <div class="card-content">
                        <h3 class="card-title bluer-text">Edit a Song</h3>
                        <form action="" th:action="@{/songs/{id}/edit(id=${song.id})}" method="post" th:object="${song}">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="title" name="title" type="text" class="validate" th:field="*{title}"/>
                                    <label for="title">Title</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <textarea id="description" name="description" class="materialize-textarea" th:field="*{description}" />
                                    <label for="description">description</label>
                                </div>
                            </div>
                            <button type="submit" value="submit" class="waves-effect waves-teal btn-small bluer-back"><i class="fas fa-smile-beam"></i>  Submit</button>
                        </form>
                    </div>
                </div>

            </div>
            <div th:if="${!isPoster}" class="row">
                <div th:if="${!hasRated}" class="no-left-pad float-left">
                    <form action="" th:action="@{/songs/{id}/rating(id=${song.id})}" method="post" th:object="${rating}">
                        <button type="submit" value="submit" class="waves-effect waves-teal btn-small bluer-back inline"><i class="fas fa-hand-holding-heart"></i>  Like</button>
                    </form>
                </div>
                <div class="no-left-pad float-left">
                    <a class="waves-effect waves-yellow btn-small down-for-tonight modal-trigger" href="#flag-modal"><i class="fas fa-flag-checkered"></i>  Flag This Song</a>
                    <div id="flag-modal" class="modal card cyan lighten-5">
                        <div class="card-image">
                            <img src="../static/img/tuuna-bar.png" th:src="@{/img/tuuna-bar.png}" alt="colorful bar" />
                        </div>
                        <div class="card-content">
                            <h3 class="card-title">
                                Are you sure you wish to flag this song?
                            </h3>
                            <p>Flagging a song will allow an administrator to review the song for any issues. A flagged song is not removed or deleted automatically.</p>
                            <form action="" th:action="@{/songs/{id}/flag(id=${id})}" method="post" th:object="${song}">
                                <button type="submit" value="submit" class="waves-effect waves-yellow btn-small down-for-tonight"><i class="fas fa-thumbs-up"></i>  Yes</button>
                                <a class="waves-effect waves-teal btn-small bluer-back" th:href="@{/songs/{id}(id=${id})}"><i class="fas fa-thumbs-down"></i>  No</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card bluer-back facebook-800-text">
        <div class="card-image">
            <img src="../static/img/tuuna-bar-2.png" th:src="@{/img/tuuna-bar-2.png}" alt="colorful bar" />
        </div>
        <div class="card-content">
            <h3 class="card-title">Leave a Comment</h3>
            <p>Let everyone know what you think about "<span th:text="${song.title}" />!"</p>
            <div class="row better-spacing">
                <a href="#comment-modal" class="waves-effect waves-red btn-small facebook-800 modal-trigger"><i class="fas fa-comment-dots"></i>  Leave a Comment</a>
            </div>
        </div>
    </div>

    <div id="comment-modal" class="modal card cyan lighten-5">
        <div class="card-image">
            <img src="../static/img/tuuna-bar.png" th:src="@{/img/tuuna-bar.png}" alt="colorful bar" />
        </div>
        <div class="card-content">
            <h3 class="card-title bluer-text">Create a Comment</h3>
            <form action="" th:action="@{/songs/{id}/comment(id=${id})}" method="post" th:object="${comment}">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="body" name="body" class="materialize-textarea" th:field="*{body}" />
                        <label for="body">Comment Body</label>
                    </div>
                </div>
                <button type="submit" value="submit" class="waves-effect waves-teal btn-small bluer-back"><i class="fas fa-smile-beam"></i>  Submit</button>
            </form>
        </div>
    </div>

    <div class="card bluer-back facebook-800-text">
        <div class="card-image">
            <img src="../static/img/tuuna-bar-2.png" th:src="@{/img/tuuna-bar-2.png}" alt="colorful bar" />
        </div>
        <div class="card-content">
            <h3 class="card-title">Viewing All Comments</h3>
            <p>Here is what some of our users have to say about "<span th:text="${song.title}" />!"</p>
        </div>
    </div>

    <div th:each="comment : ${comments}">
        <div class="card cyan lighten-5">
            <div class="card-image">
                <img src="../static/img/tuuna-bar-2.png" th:src="@{/img/tuuna-bar-2.png}" alt="a smaller colorful bar" />
            </div>
            <div class="card-content">
                <h5><span th:text="${comment.user.username}" /> says...</h5>
                <p th:text="${comment.body}" />

                <div th:if="${#authentication.getName() != comment.user.username}">
                    <a class="waves-effect waves-yellow btn-small down-for-tonight modal-trigger" href="#flag-comment-modal"><i class="fas fa-flag-checkered"></i>  Flag This Comment</a>
                    <div id="flag-comment-modal" class="modal card cyan lighten-5">
                        <div class="card-image">
                            <img src="../static/img/tuuna-bar.png" th:src="@{/img/tuuna-bar.png}" alt="colorful bar" />
                        </div>
                        <div class="card-content">
                            <h3 class="card-title">
                                Are you sure you wish to flag this comment?
                            </h3>
                            <p>Flagging a comment will allow an administrator to review the comment for any issues. A flagged comment is not removed or deleted automatically.</p>
                            <form action="" th:action="@{/comment/{commentId}/flag(commentId=${comment.id})}" method="post" th:object="${comment}">
                                <div class="row">
                                    <input id="songId" name="songId" type="hidden" th:field="*{id}"/>
                                </div>
                                <button type="submit" value="submit" class="waves-effect waves-yellow btn-small down-for-tonight"><i class="fas fa-thumbs-up"></i>  Yes</button>
                                <a class="waves-effect waves-teal btn-small bluer-back" th:href="@{/songs/{id}(id=${comment.id})}"><i class="fas fa-thumbs-down"></i>  No</a>
                            </form>
                        </div>
                    </div>
                </div>

                <div th:if="${#authentication.getName() == comment.user.username}">
                    <a class="waves-effect waves-red btn-small facebook-800 modal-trigger" href="#edit-comment-modal"><i class="fas fa-marker"></i>  Edit</a>
                    <a class="waves-effect waves-yellow btn-small down-for-tonight modal-trigger" href="#delete-comment-modal"><i class="fas fa-trash"></i>  Delete</a>

                    <div id="edit-comment-modal" class="modal card cyan lighten-5">
                        <div class="card-image">
                            <img src="../static/img/tuuna-bar.png" th:src="@{/img/tuuna-bar.png}" alt="colorful bar" />
                        </div>
                        <div class="card-content">
                            <form action="" th:action="@{/comments/{id}/edit(id=${comment.id})}" method="post" th:object="${comment}">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <textarea id="comment-body" name="body" class="materialize-textarea" th:field="*{body}" />
                                        <label for="body">Comment Body</label>
                                    </div>
                                </div>
                                <button type="submit" value="submit" class="waves-effect waves-teal btn-small bluer-back"><i class="fas fa-smile-beam"></i>  Submit</button>
                            </form>
                        </div>
                    </div>

                    <div id="delete-comment-modal" class="modal card cyan lighten-5">
                        <div class="card-image">
                            <img src="../static/img/tuuna-bar.png" th:src="@{/img/tuuna-bar.png}" alt="colorful bar" />
                        </div>
                        <div class="card-content">
                            <h3 class="card-title">
                                Are you sure you wish to delete this comment?
                            </h3>
                            <p>Once you delete a comment, there's no going back. This is a permanent action.</p>
                            <form action="" th:action="@{/comments/{id}/delete(commentId=${comment.id})}" method="post" th:object="${comment}">
                                <button type="submit" value="submit" class="waves-effect waves-yellow btn-small down-for-tonight"><i class="fas fa-thumbs-up"></i>  Yes</button>
                                <a class="waves-effect waves-teal btn-small bluer-back" th:href="@{/songs/{id}(id=${id})}"><i class="fas fa-thumbs-down"></i>  No</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript" th:src="@{/js/listenSong.js}"></script>
<footer th:replace="partials :: blue-footer" />
<script th:replace="partials :: m-script" />
<script>
    $(document).ready(function(){
        $('.modal').modal();
    });
</script>
</body>
</html>